.hero {
    margin-top: 10px;
}

#product-img {
    background: url(../images/hero_iphone_13pro.jpg) center no-repeat;
    height: 600px;
    margin-top: -200px;
}

#product-info {
    margin-top: 40px;
    text-align: center;
}

#product-name {
    font-weight: 600;
}

#product-text {
    text-align: center;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

#product-links {
    text-align: center;
}

#product-links > li {
    display: inline-block;
    font-size: 24px;
    line-height: 1.34;
    font-weight: 300;
    margin: 0 6px 12px;
}

#product-links > li > a {
    color: #08c;
    text-decoration: none;
}

#product-links > li > a:hover {
    color: #000;
    text-decoration: underline;
}
